<p class='lead'>Hello there <%= @resource.fullname %></p>

<p>Due to multiple incorrect password attempts to log in, your account has been temporarily locked. The lock time is 1 hour. During the lockout period, this account will not be able to log in, nor will it be possible to try a password. </p>

<p>You can also click the link below to unlock immediately:</p>

<p><%= link_to'Unlock my account', unlock_url(@resource, unlock_token: @token), class:'btn' %></p>
